server/custom_addons/tm_fawry_gateway/api/ApplicationBusinessFacadeService_schema2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/07/2014 12:56 PM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.fawry-eg.com/ebpp/IFXMessages/" xmlns:tns="http://ejb.gateway.ebpp.fawryis.com/" version="1.0" targetNamespace="http://ejb.gateway.ebpp.fawryis.com/">

  <xs:import namespace="http://www.fawry-eg.com/ebpp/IFXMessages/" schemaLocation="ApplicationBusinessFacadeService_schema1.xsd"></xs:import>

  <xs:element name="process" type="tns:process"></xs:element>

  <xs:element name="processResponse" type="tns:processResponse"></xs:element>

  <xs:complexType name="processResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:FAWRYType" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="process">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:FAWRYType" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>